# Ignore the ducktape.code-workspace file
*.code-workspace

# Other files and directories to ignore
target/
*.rs.bk
*.logtarget/
.DS_Store

# ignore .env files
.git.bak
.git.bak/**/*
target/
target/**/*
.git.bak
.git.bak/**/*
target/
target/**/*
